---
layout: default
title: archives
---
</br>
</br>
<div id="content">
    <div class="text-post posts">

    	{% capture archives_year %}
    		{{ 'now' | date: '%Y' }}
    	{% endcapture %}

    	{% for post in site.posts %}

        	{% capture post_year %}
        		{{ post.date | date: '%Y' }}
        	{% endcapture %}

            {% if archives_year != post_year %}
            	{% assign archives_year = post_year %}
            	<h2>{{ archives_year }}</h2>
            {% endif %}

            {{ post.date | date: "%m-%d" }} - <a href="{{post.url}}">{{ post.title }}</a> </br>

        {% endfor %}

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>


    </div>
</div>